.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border: 2px solid white;
  border-radius: 15px;

  padding: 15px;
}

.input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.input::placeholder {
  color: white;
}

.mess {
  color: white;
}
