.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-height: 360px;
  overflow-y: auto;
  justify-content: space-between;
  gap: 5px;
  padding: 10px 0;
}

.item {
  justify-self: center;
  width: 310px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
